.product-card{
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    padding: 0.5rem;
    text-align: center;
    transition: box-shadow 0.3s ease;
    align-items: center;
    flex-direction: column;
    display: flex;
    margin: 0.125rem;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-card img{
    width: 100%;
    max-width: 200px;
    height: auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.product-card h2 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.125rem;
}

.product-card p {
    color: var(--text-color-light);
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 0.5s;
}

@keyframes fadeInUp {
  0% {
    opacity: 0%;
    transform: translate3d(0, 60px, 0);
  }
  100% {
    opacity: 80%;
    transform: none;
  }
}