@import "tailwindcss";

:root {
    --primary-color: #4CAF50;
    --secondary-color: #45a049;
    --background-color: #f5f5f5;
    --text-color: #333;
    --text-color-light: #4a5568;
    --text-color-inverted: #fff;
    --success-color: green;
    --error-color: red;
}

html,body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.add-button{
  display: inline-block;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color-inverted);
  border-radius: 0.25rem;
  cursor: pointer;
}

.add-button:hover {
  background-color: var(--secondary-color);
  transition: background-color 0.3s ease;
}